*{
    margin: 0 auto;
}

.before_nav_reseaux{
    width: 170px;
    float: left;
    margin-left: 10px;
    margin-top: 15px;
}

.before_nav_reseaux img{
    width: 50px;
    margin-top: 15px;
}

.before_nav_other{
    width: 170px;
    float: right;
    margin-right: 10px;
    margin-top: 30px;
}

.before_nav_other img{
    width: 50px;
}

.logo img{
width: 200px;
margin-left: 35%;
margin-right: 35%;
}

.navbar{
    text-align: center;
    padding: 10px;
}

.navbar ul{
    background-color: #F58E3C;
}

.navbar ul li{
    display: inline;
    justify-content: space-around;
}

.navbar a{
    padding: 110px;
    color: white;
    border-right: solid 2px white;
    padding: 10px 116px;
}

.navbar a:hover{
    background-color: #319998;
}

#menu-deroulant, #menu-deroulant ul {
    background-color:#F58E3C;
    padding: 0;
    margin: 0;
    list-style: none;
}

#menu-deroulant {
    text-align: center;
}

#menu-deroulant li {
    display: inline-block;
}

#menu-deroulant ul li {
    display: inherit;
}

#menu-deroulant a {
    text-decoration: none;
    display: block;
    color:#000;
    
}

#menu-deroulant ul {
    position: absolute;
    left: -999em;
    text-align: left;
    z-index: 1000;
}
#menu-deroulant li:hover ul {
    left: auto;
}

.titre_un{
    width: 100%;
    float: left;
    margin-bottom: 100px;
}

.titre_un h1{
    margin-left: 100px;
    margin-top: 50px;
    color: #319998;
}

.montre_image{
    width: 900px;
    float: left;
}
.montre_image img{
    margin-top: 50px;
    margin-left: 100px;
}

.desciption_list_image{

    width: 900px;
    float: right;
    margin-right: 100px;
}

.text{
    margin-top: 50px;
}

.text h2{
    text-align: center;
    color: #319998; 
    margin-bottom: 100px;
}

.text p{
    width: 50%;
    text-align: justify;
}

.bar{
    background-color: #F58E3C;
    width: 10px;
    height: 550px;
    border-radius: 10px;
    position: relative;
    right: 500px;
    bottom: 550px;
}
footer{
    width: 100%;
    height: 350px;
    background-color: #14162D;
}

.newsletter{
    width: 20%;
    height: 50%;
    float: left;
    text-align: center;
    color: #fff;
    margin-top: 2%;
}

.newsletter img{
  width: 15%;
}

.payplug{
width: 20%;
height: 50%;
float: left;
text-align: center;
position: relative;
top: 50%;
right: 20%;
}

.payplug img{
    width: 30%;
    margin-top: 10%;  
}

.reseaux{
    width: 20%;
    position: relative;
    top: 5%;
    height: 20%;
}

.reseaux img{
    width: 12%;
    margin-left: 10%;
    margin-right: 10%;
}

.service{
    width: 20%;
    position: relative;
    top: 25%;
}

.service p{
    text-align: center;
    color: #fff ;
}

.copyright{
    width: 15%;
    position: relative;
    top: 55%;
}

.copyright p{
    text-align: center;
    color: #fff;
}

.contact{
    width: 15%;
    margin-right: 1%;
    float: right;
}

.contact p{
    color: #fff;
}

@media screen and (max-width: 600px){
    footer{
        height: 1000px;
    }
    .reseaux{
        width: 90%;
        height: 70px;
        position: relative;
        top: 0px;
    }
    
    .reseaux img{
        width: 12%;
        margin-left: 20px;
        margin-right: 10px;
        position: relative;
        left: 100px;
    }

    .newsletter{
        width: 20%;
        height: 50px;
        float: none;
        text-align: center;
        color: #fff;
        position: relative;
        top: 250px;
    }
    
    .newsletter img{
      width: 50%;
    }

    .service{
        width: 40%;
        position: relative;
        top: 280px;
    }

    .payplug{
        width: 60%;
        height: 50px;
        float: none;
        text-align: center;
        position: relative;
        top: 530px;
        }
        
        .payplug img{
            width: 100px;
            margin-top: none;  
            float: right;
        }

        .contact{
            width: 50%;
            margin-right: none;
            float: none;
            position: relative;
            top: 500px;
            right: 25%;
            text-align: center;
        }

        .copyright{
            width: 50%;
            position: relative;
            top: 720px;
        }
}

footer{
    width: 100%;
    height: 350px;
    background-color: #14162D;
    position: relative;
    bottom: 400px;
}

.newsletter{
    width: 20%;
    height: 50%;
    float: left;
    text-align: center;
    color: #fff;
    margin-top: 2%;
}

.newsletter img{
  width: 15%;
}

.payplug{
width: 20%;
height: 50%;
float: left;
text-align: center;
position: relative;
top: 50%;
right: 20%;
}

.payplug img{
    width: 30%;
    margin-top: 10%;  
}

.reseaux{
    width: 20%;
    position: relative;
    top: 5%;
    height: 20%;
}

.reseaux img{
    width: 12%;
    margin-left: 10%;
    margin-right: 10%;
}

.service{
    width: 20%;
    position: relative;
    top: 25%;
}

.service p{
    text-align: center;
    color: #fff ;
}

.copyright{
    width: 15%;
    position: relative;
    top: 55%;
}

.copyright p{
    text-align: center;
    color: #fff;
}

.contact{
    width: 15%;
    margin-right: 1%;
    float: right;
}

.contact p{
    color: #fff;
}





